head
    meta(charset='utf-8')
    title test
body
    //- var data = 'text';
    //- var htmlData = '<script>alert(1);</script><span>script</span>;'
    //p #{data}
    //p #{htmlData}
    //p !{htmlData}

    - var imooc = { course: 'jade', level: 'high' }
    - for (var k in imooc)
        p= imooc[k]
        //-p #{imooc[k]}
    - each value, key in imooc
        p #{key}: #{value}
        
    - var courses = ['node', 'jade', 'express']
    each item in courses
        p= item
        
    - var sections = [{id: 1, items: ['a', 'b']}, {id: 2, items: ['c', 'd']}]
    dl
        each section in sections
            dt= section.id
            each item in section.items
                dd= item
